/*about y contact*/
.hero {
  width: 100%;
  position: relative;
}

.hero__image {
  width: 635px;
  height: 720px;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.6) saturate(1.5);
}

.hero__image-about {
  background-image: url("../assets/about/desktop/image-hero.jpg");
}

.hero__image-contact {
  background-image: url("../assets/contact/desktop/image-hero.jpg");
}

.hero__content {
  background-color: #ffffff;
  width: 628px;
  height: 503px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 160px 0 0 182px;
}

.hero__text-about {
  font-weight: bold;
  font-size: 200px;
  line-height: 200px;
  text-align: right;
  letter-spacing: -5px;
  color: #eeeff4;
  position: absolute;
  bottom: 409px;
  right: 3px;
}

.line {
  width: 65px;
  height: 1px;
  background: #c8ccd8;
}

.title {
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2px;
  color: #1b1d23;
}

.hero__title {
  margin: 75px 0 56px 0;
}

.hero__text,
.arch-history__text {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #60636d;
}

@media (max-width: 1100px) {
  .hero-contact .hero__text-about {
    font-size: 160px;
  }
}
@media (max-width: 900px) {
  .hero__content {
    width: 515px;
    height: 431px;
    padding: 88px 0 0 60px;
    bottom: 0;
  }

  .hero-contact .hero__text-about {
    font-size: 120px;
  }

  .hero__text-about {
    font-size: 120px;
    line-height: 200px;
    text-align: right;
    letter-spacing: -3px;
    right: 8px;
    bottom: 331px;
  }

  .hero__image {
    width: 100%;
  }

  .hero__text {
    width: 97%;
  }
}

@media (max-width: 725px) {
  .hero__image {
    height: 375px;
  }

  .hero__text-about {
    display: none;
  }

  .hero__texts .line {
    display: none;
  }

  .hero__content {
    padding: 80px 0 0 32px;
    position: relative;
    left: 0;
    bottom: 45px;
    width: 91%;
    height: unset;
  }

  .hero__title {
    margin: 0 0 12px 0;
  }

  .title {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
  }
}
