.nav-home__links > .nav-home__contact {
  color: #1b1d23;
}

.contact {
  margin: 200px 0 160px 0;
}

.contact__wrap-address {
  display: flex;
  gap: 30px;
  margin-bottom: 200px;
  margin-top: 74px;
}

.contact__title {
  width: 350px;
  min-width: 245px;
}

.contact-container-address {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  width: 100%;
}

.address {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 35px;
  color: #60636d;
  width: 300px;
}

.address__title {
  font-weight: 700;
  margin-bottom: 8px;
}

.address-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}

.contact__image {
  width: 100%;
}

.contact__image--tablet {
  display: none;
}

.contact__image--mobile {
  display: none;
}

.button-map {
  color: #1b1d23;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  display: flex;
  align-items: center;
  gap: 24px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.button-map__text {
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}

.button-map__text:hover {
  border-bottom: 1px solid #1b1d23;
}

.connect {
  margin-bottom: 160px;
}

.connect-form {
  display: flex;
  gap: 30px;
}

.connect-form .title {
  width: 350px;
}

.connect-form__container-inputs {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.connect-form__container {
  width: 66%;
}

.connect-form__container-input {
  position: relative;
}

.connect-form__label {
  position: absolute;
}

.connect-form__input {
  border: none;
  outline: none;
  font-family: inherit;
  padding: 0 0 25px 35px;
  transition: all 0.3s;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #1b1d23;
  resize: none;
}

.connect-form__input:focus {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.3125px;
  border-bottom: 3px solid #1b1d23;
}

.connect-form__input::placeholder {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.3125px;
  color: #c8ccd8;
}

.connect-form__input--error {
  border-bottom: 1px solid #df5656;
  color: #df5656;
}
.connect-form__input--error:focus {
  border-bottom: 3px solid #df5656;
  color: #df5656;
}

.connect-form__input--error::placeholder {
  color: #df5656;
  opacity: 0.5;
}

.connect-form__input-text--error {
  position: absolute;
  right: 0;
  bottom: 17px;
  font-weight: 700;
  font-size: 11px;
  line-height: 17px;
  text-align: right;
  letter-spacing: -0.2px;
  color: #df5656;
}

.connect-form__button {
  display: flex;
  justify-content: flex-end;
}

.connect-form__button .button {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  top: -5px;
}

.connect-form__button .button__svg-icon-arrow {
  margin: 0;
  position: static;
}

@media (max-width: 1100px) {
  .contact__wrap-address {
    flex-direction: column;
  }

  .contact__title {
    width: 100%;
  }

  .contact__wrap-address {
    gap: 64px;
  }

  .contact-container-address {
    flex-direction: column;
    gap: 40px;
  }

  .address {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 900px) {
  .contact__image--desktop {
    display: none;
  }

  .contact__image--tablet {
    display: inline;
  }

  .connect-form {
    flex-direction: column;
  }
  .connect-form .title {
    width: 100%;
  }

  .connect-form__container {
    width: 100%;
  }

  .connect {
    margin-bottom: 200px;
  }
}

@media (max-width: 725px) {
  .contact {
    margin: 27px 0 72px 0;
  }

  .contact__wrap-address {
    margin: 67px 32px 72px 32px;
  }

  .address {
    flex-direction: column;
    justify-content: space-between;
  }

  .address-list {
    gap: 0;
    margin-bottom: 16px;
  }

  .connect {
    margin: 0 32px 72px 32px;
  }

  .connect-form {
    gap: 48px;
  }

  .connect-form .title {
    width: 150px;
  }
}
